.venv/
venv/

.311venv/
311venv/

data/
__pycache__
frames/
uploads/
test_video/
embeddings/

yolov8n.pt
yolov9e.pt
yolov8l.pt
yolov8x.pt
result.json

rtdetr-l.pt

track_data/

*.md
.env
chroma_db

ByteTrack
yolox

NVIDIA_object_detection